/* General CSS */

body{
  width:375px;
  margin:0;
    font-family:Raleway, sans-serif;
}

/* Classes */

.illustration{
  width:60%;
  height:60%;
  position: relative;
  bottom:340px;
  left:100px;
}

.logo{
  position:relative;
  bottom:600px;
  right:190px;
  }

.mainsection{
  position: relative;
  bottom:250px;
  left:30px;
}

.description{
  width:80%;
}

.email-input{
  width:290px;
  height:40px;
  border-radius:7px;
}

.butn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Raleway;
  color: #ffffff;
  font-size: 20px;
  background: #05d69b;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  width:80px;
}

.butn:hover {
  text-decoration: none;
}

.privacypolicy{
  position:relative;
  top:50px;
  left:230px;
}
